<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Biginners 2</title>
    <link href='https://fonts.googleapis.com/css?family=Quicksand&display=swap' rel='stylesheet'>
    <style>
        body {
            margin: 5%;
            font-family: 'Quicksand', sans-serif;
        }

        .active {
            background: salmon;
            border: 0;
            padding: 5px;
        }

        .error {
            color: red;
        }

        .input-group {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>

<!-- div ini akan menjadi wadah compoentn vue js-->
<!-- div ini akan menjadi wadah compoentn vue js super component-->
<div id="app">

    <!-- memangil component yang sudah di buat vue js-->
    <header-component nama="Vuejs" gambar="image/logo.png"></header-component>
    <!--    <header-component nama="lfc" gambar="image/lfc.png"></header-component>-->
    <!--    <header-component nama="lfc" gambar="image/vue.png"></header-component>-->

    <nav>
        <!-- navbar yang sudah di set sedemikian yang sudah di set object VueRouter-->
        <router-link to="/">Home</router-link>
        <router-link to="/about">About</router-link>
        <router-link to="/kelas">Kelas</router-link>
    </nav>
    <br>

    <main>
        <!-- memangil component yang sudah di buat vue js-->
        <!-- menambahkan event berbentuk props.. ketika event listener maka akan redering $emit('hapusKelas') -->
        <!--        <kelas v-bind:items="kelas" v-on:submitkelas="submitkelas" v-on:hapuskelas="hapuskelas($event)"></kelas>-->
        <!--        <home></home>-->
        <!--        <about></about>-->

        <!-- akan menampilkan dan mencocokan dengan route url yang ada di registrasi-->
        <router-view v-bind:items="kelas" v-on:submitkelas="submitkelas" v-on:hapuskelas="hapuskelas"></router-view>
    </main>

    <!-- memangil component yang sudah di buat vue js-->
    <footer-component>
        <p>copyright 2023</p>
    </footer-component>
</div>

<!--<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
<script src="https://unpkg.com/vue-router@3"></script>
<script src="https://unpkg.com/vuex@3"></script>
<script type="module">
    import {v4 as uuidv4} from 'https://jspm.dev/uuid';
    // console.log(uuidv4()); // ⇨ '1b9d6bcd-bbfd-4b2d-9b5d-ab8dfbbd4bed'
    /**
     * Vue Js code disini
     * dalam object{} Vue
     * key pertama el ==> yang menentukan element mana sebagai system component dari view nyaa.. akan kita jadikan wadah component
     * untuk get id atau class dari wadah component.. id = #app atau class = .app
     *
     * key data untuk // string, number, boolean, array, object
     * untuk mengakses data dari object vue di element html dengan interpolation/ekpression/mustache {{ key object}}
     *
     * key method untuk menaruh semua method pada object vue.. key word this. selalu mengacu pada object new Vue()
     *
     * computed property berbentuk method, value tergantung dari propery lainya.. intinya bisa mensederhanakan di dalam method
     *
     * directive adalah method2 yang di sediakan vue js, uniknya di tempelkan element html.. contoh salah satu: v-once, v-text , dan etc
     * kelebihan directive kita bisa manipulasi setiap datanya dengan expression sperti contoh di bawah
     * v-html="bilangan * 2" ==> 98
     * v-html="name.toUpperCase()" ==> BUDHI OCT 22
     *
     * event adalah yang di lakukan seperti DOM Javascript
     *
     * two way data binding adalah menggunakan v-model untuk membuat biding data dengan dua arah.. digunakan element input input lainya
     *
     * element <template> adalah sebuah wrapper untuk mengkelompokan beberapa element html sekaligus. digunakan untuk kondisional
     *
     * component pada vue js merupakan sebuah object vue js instance yang dapat digunakan sebagai fungsi untuk menyimpan vue tamplate dan fungsi tamplate bisa di panggil berkali kali
     * menerapkan component yang sederhana..
     * component di buat untuk menyimpan template html, lalu di reader ke dalam satu env element # vue js
     * component juga bisa mengirim data, dengan kaidanya key data harus value method, lalu di dalam method tersebu bisa return object{}
     * note: components yang telah dibuat cara membuatnya harus sebelum instance object id #app supaya bisa di tampilkan/reader oleh instance Object vue id=app
     *
     * props adalah parsing data dari child component, costume attribute yang bisa di daftarkan pada suatu component, pada suatu value yang di kirimkan ke prosp maka value tersebut menjadi child component
     * komunikasi dari component parent ke compoent child
     *
     * $emit(param) digunakan untuk dari component child komunikasi kepada component parent
     * contoh kasus: jadi component child ingin menghapus data, tetapi data tersebut ada di component parent, maka mau tidak mau component child harus izin ke component parent.
     * untuk itu kita menggunakan $emit() untuk berkomunikasi dari component child ke component parent
     *
     * sebuah content html bisa di masukan ke dalam component: <footer-component>content bro</>footer-component>
     * nanti di file component kita tinggal <slot></slot> untuk mengambil content menjadi bagian component
     *
     * router supaya kita bisa membuat signle page application
     *
     * localStorage adalah fitur html 5 yang sudah ada di dalam web browser. fitur ini menyimpan data sebelum ke database
     * jika kita sudah submit form dan berhasil, ketika halamnya di refresh maka hasil form itu akan tersimpan di localstorage
     * bagaimana kita bisa mengakses localstorage di browser untuk mengambil data tersebut
     *
     *
     */

    // membuat component(param, object)
    Vue.component("header-component", {
        props: ["nama", "gambar"],
        template: `
          <header>
          <!--          <img src="image/logo.png" width="100">-->
          <img v-bind:src="gambar" width="100">

          <p>{{ "Hello " + nama }}</p>
          <p>The Progressive JavaScript Framework</p>
          <p>{{ pesan }}</p>
          </header>
        `,
        data: function () {
            return {
                pesan: "Hello Component"
            }
        }
    });

    Vue.component("footer-component", {
        template: `
    <footer id="footer">
    <slot></slot>
    </footer>
        `
    });

    // Vue.component("kelas", {
    //     props: ["items", "input"],
    //     template: `
    //       <div>
    //       <h3>Tambah Kelas.</h3>
    //       <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="$emit('submitkelas', $event)"></p>
    //
    //       <hr>
    //       <h3>Total Kelas {{ items.length }}</h3>
    //       <template v-if="items.length">
    //         <!--  <ul v-show="kelas.length > 1">-->
    //         <ul>
    //           <li v-for="(item, index) of items">
    //             {{ index + 1 }} - {{ item }}
    //             <a href="" v-on:click.prevent="$emit('hapuskelas', index)">hapus</a>
    //           </li>
    //         </ul>
    //       </template>
    //       <li v-else>Kelas Belum Tersedia.,</li>
    //       </div>
    //     `,
    //     data: function () {
    //         return {}
    //     },
    //     methods: {
    //         submit: function (event) {
    //             let text = event.target.value; // mendapat value dari element html
    //             // this.kelas.push(text); // push() add data baru di js, sifat nya add di akhir array
    //             this.kelas.unshift(this.kelasBaru); // unshift() add data baru di js, sifat nya add di awal array
    //             this.kelasBaru = ""; // akan render kosong ketika memulai input baru
    //         }
    //     }
    // });

    // data
    const member = {
        // kelas: [
        //     {id: 1, judul: "Vuejs", deskripsi: "progressive javescript framwork", gambar: "vue.png"},
        //     {id: 2, judul: "Liverpool FC", deskripsi: "the club from english", gambar: "lfc.png"},
        // ],
        kelas: [],
        kelasBaru: ""
    }; // set data

    const Home = {
        template: "<div>HOME</div>"
    }

    const About = {
        template: "<div>ABOUT</div>"
    }

    const NotFound = {
        template: "<div>Halaman Tidak Ditemukan!!..</div>"
    }

    const Kelas = {
        props: ["items", "input"],
        template: `
          <div>
          <!--          <h3>Tambah Kelas.</h3>-->
          <!--          <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="$emit('submitkelas', $event)"></p>-->

          <form v-on:submit.prevent="submitkelas">
            <div class="input-group">
              <input type="text" v-model="kelas.judul" placeholder="Nama Kelas">
              <div class="error" v-if="error.judul"><small>{{ error.judul }}</small></div>
            </div>

            <div class="input-group">
              <label>Deskripsi: </label><br>
              <textarea v-model="kelas.deskripsi" cols="30" rows="10"></textarea>
              <div class="error" v-if="error.deskripsi"><small>{{ error.deskripsi }}</small></div>
            </div>

            <div class="input-group">
              <img :src="previewimg" v-if="previewimg" width="300"/>
              <p></p>
              <label>Masukan Gambar: </label><br>
              <input type="file" ref="gambar" v-on:change="upload"/>
            </div>
            <br>

            <button type="submit">Submit</button>
          </form>


          <hr>
          <h3>Total Kelas {{ items.length }}</h3>
          <template v-if="items.length">
            <!--  <ul v-show="kelas.length > 1">-->
            <ul>
              <li v-for="(item, index) of items">
                <img v-bind:src="'image/' + item.gambar" width="200">
                <p>
                  {{ index + 1 }} - {{ item.judul }}
                  <a href="" v-on:click.prevent="$emit('hapuskelas', item.id)">hapus</a>
                </p>
              </li>
            </ul>
          </template>
          <li v-else>Kelas Belum Tersedia.,</li>
          </div>
        `,
        data: function () {
            return {
                kelas: {
                    judul: "",
                    deskripsi: "",
                    gambar: ""
                },
                previewimg: "",
                error: {
                    judul: "",
                    deskripsi: ""
                }
            }
        },
        methods: {
            submitkelas: function () {
                // setiap kali submit maka pesan error akan di hilangkan/replace, supaya tidak tersimpan di stack memory
                this.error.judul = "";
                this.error.deskripsi = "";

                // cek validasi sebelum submit
                if (this.kelas.judul === "") {
                    this.error.judul = "Judul is required";
                    // console.info(this.error.judul);
                }

                if (this.kelas.deskripsi === "") {
                    this.error.deskripsi = "Deskripsi is required";
                    // console.info(this.error.deskripsi);
                }

                // kondisi submit jika text sudah di isi maka lakukan
                if (this.kelas.judul && this.kelas.deskripsi) {
                    // console.info(this.kelas);
                    const data = {
                        id: uuidv4(),
                        judul: this.kelas.judul,
                        deskripsi: this.kelas.deskripsi,
                        gambar: this.kelas.gambar
                    }
                    this.$emit("submitkelas", data); // proses submit

                    // kembalikan property menjadi kosong setelah submit form
                    this.kelas.judul = "";
                    this.kelas.deskripsi = "";
                    this.kelas.gambar = "";
                    this.previewimg = "";
                    this.$refs.gambar.value = ""; // akses attribut element ref="gambar"
                }

            },
            upload: function (event) {
                // console.info(event.target.files[0]); // mendapat informasi file upload
                const files = event.target.files[0]; // mendapat informasi file upload
                const nameFile = event.target.files[0].name; // mendapat informasi file upload
                this.kelas.gambar = nameFile; // set property
                this.previewimg = URL.createObjectURL(files); // set element html
            }
        }
    }

    // config Route url. sebagai halaman
    const routes = [
        {path: "/", component: Home},
        {path: "/about", component: About},
        {path: "/kelas", component: Kelas},
        {path: "*", component: NotFound}
    ];

    // registration vue route. lalu instance ke object Vue
    const router = new VueRouter({
        //mode: "history", // supaya url lebih rapi. dan  tidak ada ===> #/ di akhir url
        routes // short for `routes: routes`
    });

    // object vue js
    const vm = new Vue({
        el: "#app",
        router,
        components: {
            "home": Home,
            "about": About
        },
        data: member,
        created() {
            // method create() ini secara otomatis akan di reader pada saat view nya di buat
            this.kelas = JSON.parse(localStorage.getItem("kelas")) || []; // parse() konversi dari json ke object javascript // getItem(keyLocalStorage yang di simpan) mengakses localstorage yang ada di web browser
        },
        methods: {
            hapuskelas: function (id) {
                // console.info(`${index}`);
                // this.kelas.splice(index, 1); // akses component class lalu splice(cari index, 1(hapus 1 elemet dari array tersebut))
                // console.info(`${id}`);
                this.kelas = this.kelas.filter(item => item.id != id); // filter() // satu per satu id mana yang cocok, jika cocok maka akan kita hapus.
            },
            submitkelas: function (data) {
                console.info(data);
                // const text = event.target.value; // get value text dari component child
                this.kelas.unshift(data); // unshift() add array dari depan
                localStorage.setItem("kelas", JSON.stringify(this.kelas)); // stringify() konversi dari object javascript ke json // akan di simpan ke local storage browser di key kelas
            }
        },
        computed: {}
    }); // instance

</script>

</body>
</html>